<div class="row px-5">
  <div class="list-group col-12">
    <input type="text" class="form-control" [(ngModel)]="search" placeholder="Chercher un cocktail ...">
    <hr>
    <a
      *ngFor="let cocktail of cocktails | filter:search ; let index = index"
      [routerLink]="index"
      routerLinkActive="active" 
      class="list-group-item list-group-item-action">{{ cocktail.name }}
    </a>
  </div>
</div>
<div class="row px-5">
  <div class="btn btn-success mt-2" [routerLink]="['new']">
    Ajouter un cocktail
  </div>
</div>
